.home-background {
  height: 100vh;
  background-image: url("../../assets/bg7.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
.button-start {
  width: 35vw;
  height: 6vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 45vh;

  justify-content: center;
  align-items: center;
  border-radius: 2.5vh;
  border-width: 2px;
  background-color: #ffffae;
  font-size: 2.3vh;
  color: #9e993e;
  border-color: #9e993e;
  font-weight: 700;
  transition: top ease 0.5s;
  cursor: pointer;
}
.button-start:active {
  background-color: #ffffae70;
}

@keyframes opacity0to1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
@font-face {
  font-family: "BMDOHYEON";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
p {
  font-family: "BMDOHYEON";
}
h1 {
  font-family: "BMDOHYEON";
}
h2 {
  font-family: "BMDOHYEON";
}
h3 {
  font-family: "BMDOHYEON";
}
h4 {
  font-family: "BMDOHYEON";
}
h5 {
  font-family: "BMDOHYEON";
}
h6 {
  font-family: "BMDOHYEON";
}
button {
  font-family: "BMDOHYEON";
}
